/* Navbar layout styles */
.navbar {
  position: fixed; /* Make the Navbar fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.1s; /* Add opacity transition */
}

.container-fluid {
  display: flex;
  justify-content: center; /* Center the Navbar horizontally */
  align-items: center; /* Center the Navbar vertically */
  flex-direction: column; /* Align content in a column */
}

.nav-links-container {
  margin-top: 20px; /* Add spacing between Navbar and content below */
  display: flex;
  flex-wrap: wrap; /* Wrap the nav-links to the next row */
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0; /* Remove default margin for the list */
  padding: 0; /* Remove default padding for the list */
  justify-content: center; /* Center the nav-links horizontally */
}

.nav-item {
  margin: 5px; /* Add spacing between nav items */
}

/* Nav-link styles */
.nav-link {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
}

.nav-link:hover {
  color: #949494;
}

/* Add styles for hiding the navbar */
.navbar.hidden {
  opacity: 0;
  pointer-events: none; /* Disable interactions when hidden */
}
