/* Set font-weight to heavy bold and white text for all navbar items */
.nav-item,
.nav-link,
.logout-button {
  font-weight: 700;
  color: white;
}

/* Set green background color and white text for buttons */
button {
  background-color: #4caf50;
  color: white;
}

/* Hide the navbar initially and show it when the search icon is clicked */
.navbar-collapse {
  display: none;
  position: absolute;
  top: 60px; /* Adjust the value to position the navbar dropdown correctly */
  right: 0;
  background-color: #1e242b; /* Set the background color for the navbar dropdown */
  padding: 10px;
}

/* Center the text within the navbar dropdown */
.navbar-collapse ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/* Add 20px gap between each nav-item in the navbar dropdown */
.navbar-collapse li {
  margin-bottom: 20px;
}

/* Show the navbar dropdown when the search icon is clicked */
.search-icon.active + .navbar-collapse {
  display: block;
}
